<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Панель администратора</title>
</head>
<body>
<hr>
    <table class="userList" border="1">
        <caption>Список пользователей</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"> </td>
            <td th:text="${user.name}"> </td>
            <td th:text="${user.age}"> </td>
            <td th:text="${user.addressDataSet.street}"> </td>
            <td th:text="${user.phoneDataSet[0].number}"> </td>
        </tr>
        </tbody>
    </table>
<hr>
<a th:href="@{/addNewUserPage}" href="addNewUser.html">Добавить нового пользователя</a>
<hr>
</body>
</html>
